.slick-slider button {
  position: absolute;
  top: 32%;
  outline: "none";
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 35px;
  background-color: #000;
  color: white;
  z-index: 99;
}

.slick-slider .slick-prev {
  left: -30px;
  font-size: 0;
}

.slick-slider .slick-prev::before {
  content: "<";
  line-height: 1;
  font-size: 25px;
}

.slick-slider .slick-next {
  right: -30px;
  font-size: 0;
}

.slick-slider .slick-next::after {
  content: ">";
  line-height: 1;
  font-size: 25px;
}

.slick-dots {
  text-align: center;
  padding-top: 20px;
  padding-right: 23px;
}

.slick-dots li {
  display: inline-block;
  padding: 1px;
  background-color: #8a8a8a;
  margin: 10px 5px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.slick-dots button {
  display: none;
}

.slick-dots li.slick-active {
  background: #fff;
}

.slick-slider img {
  border-radius: 15px;
  width: 100%;
  height: 250px;
}

.slick-slide {
  padding: 28px 0;
  position: relative;
  height: auto !important;
  opacity: 0.5;
  transition: all 900ms ease;
}

.slick-current {
  opacity: 1;
  transform: scale(1.2);
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slick-slide .xyz {
  opacity: 0;
}

.slick-current .xyz {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  text-align: center;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
  display: none; /* Sembunyikan secara awal */
} 
.overlay img {
  width: 50%; /* Ubah lebar foto menjadi 70% dari lebar overlay */
  margin: auto; /* Geser ke tengah */
  display: block; /* Agar margin auto bekerja */
}
.overlay:target {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.text-gallery{
  color: #fff;
  text-shadow: rgba(255,255,255,1) 0px 0px 22px;
}

#services{
  background-position: center;
}
.card{
  border-radius: 15px;
  width: 100%;
  height: 300px;
}